h1
{
  color: #ff0000;
}
body
{
  height: 70%;
  background-color: #0000ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
{
  background-color: #00ff00;
  margin: 0px;
}
.blogtitel
{
  display: block;
  color: #0000ff;
}

.blogtekst
